.root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    //height: 95vh;
    //width: 95;
    background-image: url("../../media/logo.svg");
    background-repeat: no-repeat;
    background-position: 100% 80%;
    background-size: 385px 150px;

    .incitingText {
        color: rgb(54, 54, 255);
        font-weight: 600;
        cursor: pointer;
    }
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 640px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #ccc;
}

.error-message {
    color: red;
    margin-top: 20px;
    /* Измените значение по своему усмотрению, чтобы опустить сообщение ниже */
    font-size: 14px;
    /* Опционально: настройте размер шрифта */
}

@media (max-width: 1400px) {
    .root {
        // Убрираем лого вверх, делаем верхний отступ контейнеру
        background-position: top center;
    }
}

@media (max-width: 600px) {
    .root {
        //background-position: top center;
        /* Изменяем позицию фона для мобильных устройств */
        //background-size: cover;
        /* Фон адаптируется под размер экрана */

        background-size: 256px 100px;
        padding-top: 100px;
    }

    .form {
        padding: 15px;
        /* Убираем максимальную ширину для мобильных устройств */
    }

    .mainBox {
        max-width: none;
    }
}